.row {
  display: flex;
}

.column {
    flex: 50%;
}

.column-wrap {
  column-width: 400px;
  column-count: 2;
}

.column-wrap-block {
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}


ul.column-wrap {
  column-width: 300px;
}

::marker {
  color: var(--tertiary);
}

.post-content .center img {
    display: block;
    margin:0 auto;
}

.post-content svg {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
  width: 18px;
}

.post-content hr {
    height: 5px;
}